body {
    color: #000;
    background: #292A2D;
    background-image: url("/contents/photo_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    background-color: #eaeaea;
    color: #555;
    align-items: center;
}

.head h1 {
    padding-left: 40px;
}

.navbar {
    width: 100%;
    background-color: #000; /*555*/
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: auto;
}

.navbar a {
    float: center;
    padding: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover {
    transition: 800ms;
    color: black;
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow-x: auto;
    text-align: center;
    margin: 100px;
    border-radius: 20px;
    background: rgb(197, 197, 197);
    padding: 16px 30px 20px;
}

.footer {
    position: fixed;
    background: rgb(197, 197, 197);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
}

input[type=text], input[type=number], input[type=email], input[type=newpassword], input[type=password] {
    border-color: azure;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
}

input :focus {
    border: 5px solid #000;
}

select {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=date] {
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=file] {
    background-color: #555;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#tableau {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableau tr:hover {background-color: #ddd;}

#tableau .name {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: white;
}

#tableau td, #tableau th {
    border: 1px solid #ddd;
    padding: 8px;
}